$padding: 50px;

.buzzer {
  position: fixed;
  left: $padding;
  top: $padding;
  bottom: $padding;
  right: $padding;
  color: white;
  padding-top: 200px;
  z-index: 100;
  border-radius: 20px;
  text-align: center;
}